@{
    ViewBag.Title = "About Whetstone";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><a href="https://www.linkedin.com/in/zach-whetstone/" class="btn btn-primary btn-lg">Go to my LinkedIn Page &raquo;</a></p>

<p>I am a senior in college at Ohio Uniervsity studying Management Information Systems.I am also working to obtian a minor in marketing and analytics and 
    a certificate in Sales. I am an active member in my fraternity, as well as, the active tresurer.  </p>
