@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    25 Kurtz Street<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614-556-0866
</address>

<address>
    <strong>Professional:</strong>   <a href="mailto:zw205715@ohio.edu">zw205715@ohio.edu</a><br />
    <strong>Personal:</strong> <a href="mailto:zwhetsone81@gmail/com">zwhetsone81@gmail.com</a>
</address>