@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zachary Whetstone</h1>
    <p class="lead">I am a Senior at Ohio University in the College of Business. Welcome to my website. </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ohio University</h2>
        <p>
            I am astudent at OU. This website will discuss my time in the CoB and my current course load. 
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Lambda Chi Alpha</h2>
        <p>This website will also include information about my activites in my fratetnity at OU. </p>
        
    </div>
    <div class="col-md-4">
        <h2>The Outdoors</h2>
        <p>The outdoors is my favorite place. </p>
        
    </div>
</div>